<div class="container">
    <h1>Angular Components</h1>
    <!--
    <hr>
    <app-block2></app-block2>
    -->
    <app-post-form
        (onAdd)="updatePosts($event)"
    ></app-post-form>
    <hr>
    <app-post
        *ngFor="let p of posts"
        [post]="p"
        (del) = delPostbyId($event)
    >
        <div #info>
            <smalL *ngIf="p.text.length > 10; else short"> LOng text</smalL>
            <ng-template #short>
                <small> SHort text</small>
            </ng-template>
        </div>
    </app-post>
</div>