<h1>Hellow Angular</h1>
<div>
    <button (click)="backgroundTogle=!backgroundTogle">Togle</button>
</div>

<div 
    [ngStyle]="{
        margin: '50px',
        padding: '40px',
        width:'200px', 
        height:'200px',
        background:backgroundTogle ? 'red': 'black'
    }">
</div>

<hr>
<div>
    <button (click)="classTogle=!classTogle">Togle</button>
</div>
<p
    [ngClass]= "{
        red: classTogle,
        blue: !classTogle
    }"
>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, debitis praesentium ad quas, cumque autem a alias quo repellat odio dolorem, voluptas distinctio quis asperiores est esse rerum perspiciatis aliquam.</p>