<div class="card">
    <h2>Post title</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas necessitatibus pariatur assumenda nulla in nobis, magnam nihil dolor nemo blanditiis? Suscipit voluptatem culpa dignissimos molestias repudiandae? Dolorum explicabo velit ad?</p>
</div>
<div class="card">
    <h2>Post title</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas necessitatibus pariatur assumenda nulla in nobis, magnam nihil dolor nemo blanditiis? Suscipit voluptatem culpa dignissimos molestias repudiandae? Dolorum explicabo velit ad?</p>
</div>